{% extends 'base.html.twig' %}
{% block nomPage %}

	<h1>
		Voici la liste des entreprises
	</h1>

	<table>
	<thead>
	<tr>
	<th>
	#
	</th>
	{% for entreprise in entreprises %}
		
	{% endfor %}

{% endblock %}
