{% extends "base.html.twig" %}
{% block nomPage %}
    Ajouter une entreprise
{% endblock %}

{% block liste %}
    <div class="form-group">
    {{ form(vueFormulaireEntreprise) }}
    </div>
{% endblock %}