<html>
	<h1> Bienvenue sur ProStage </h1>

	<p>
		voici quelques stages:
	</p>

	<ul>
		<li>
			<a href="{{path('ProStage_stage', {id:5})}}"> Stage developpeur fullstack (H/F) </a>
		</li>
		<li>
			<a href="{{path('ProStage_stage', {id:345})}}"> Stage developpeur java (H/F) </a>
		</li>
	</ul>
</html>