<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} ProStage {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

    </head>
    <body>
        {% block slider %}
        <h1> -----------slider----------- </h1>
        {% endblock %}
        
        {% block body %}{% endblock %}

        {% block footer %}
        <h1> -----------footer----------- </h1>
        {% endblock %}

        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
